alias c="clear"
alias ..="cd .."
alias ...="cd ../../"
alias ....="cd ../../../"
alias .....="cd ../../../../"
alias zshrc=". ~/.zshrc"
alias la="ls -la"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias amenu="adb shell input keyevent KEYCODE_MENU"
