# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}

#Open Current Directory in atom
function atom() {
	if [ $# -eq 0 ]; then
		atom .;
	else
		atom "$@";
	fi;
}

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Commit with a date
function gcdate() {

	while [[ "$#" > 0 ]]; do case $1 in
		-h|--help) h=1;;
	  -m|--message) m="$2";;
		-d|--date) d="$2";;
		-t|--time) t="$2"; shift;;
	esac; shift; done

  if [[ -z "$h" ]] then
		if [[ -z "$m" || -z "$d" || -z "$t" ]] then
			echo "Date and message not set"
		else
			export GIT_AUTHOR_DATE="${d}T${t}+01:00"
			export GIT_COMMITTER_DATE="${d}T${t}+01:00"
			git add .
			git commit -m "$m"
			unset GIT_AUTHOR_DATE
			unset GIT_COMMITTER_DATE
		fi
	else
		echo "Echo help ..... "
  fi

	unset m
	unset t
	unset h
	unset d

}

# Commit with a date
function git-amp() {

	while [[ "$#" > 0 ]]; do case $1 in
		-h|--help) h=1;;
	  -m|--message) m="$2";;
	esac; shift; done

  if [[ -z "$h" ]] then
		if [[ -z "$m" ]] then
			echo "Message Not Set"
		else
			git add . && git commit -m "$m" && git push
		fi
	else
		echo "Echo help ..... "
  fi

	unset m

}
